name: release
on:
  release:
    types: [published]

jobs:
  build-release:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    
    steps:
      - uses: actions/checkout@v4

      - name: Install and setup rye
        run: | 
          curl -sSf https://rye-up.com/get | RYE_VERSION="0.22.0" RYE_TOOLCHAIN_VERSION="${{ matrix.python-version }}" RYE_INSTALL_OPTION="--yes" bash
          echo "$HOME/.rye/shims" >> $GITHUB_PATH

      - name: Build for distribution
        run: |
          rye build
    
      - name: Publish to PyPI
        run: |
          rye publish --token ${{ secrets.PYPI_TOKEN }} --yes
